language: swift
osx_image: xcode10.2

cache:
  directories:
  - Carthage

before_install:
  - brew update
  - brew outdated carthage || brew upgrade carthage
  - brew outdated swiftlint || brew upgrade swiftlint
  - carthage bootstrap --verbose --platform iOS --cache-builds
script:
    - xcodebuild clean test -project RxFlow.xcodeproj -scheme RxFlow -destination "platform=iOS Simulator,name=iPhone X,OS=12.2" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO -quiet | xcpretty -c
